{% extends "base.html" %}

{% block content %}

<section class="card">
    <h2>Descripción del problema</h2>

    <p>
        En el sector financiero es importante analizar el comportamiento de los clientes
        para identificar perfiles similares y apoyar la toma de decisiones. 
        En este proyecto se utiliza el algoritmo K-Means Clustering para agrupar clientes
        según características relacionadas con ingresos, crédito solicitado, edad,
        puntaje crediticio y cuota mensual.
    </p>

    <p>
        El objetivo de la aplicación es permitir la visualización del proceso de agrupamiento,
        mostrando los clústeres generados, los centroides, la tabla de datos procesados y
        una interpretación de los resultados obtenidos.
    </p>
</section>

{% endblock %}